<% flash.each do |key, value| %>
	<% if key.to_s =="error" %>
		<div class="alert alert-danger alert-dismissable">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
	    <strong><%= value %></strong>
	  </div>
	<% else %>
		<div class="alert alert-success alert-dismissable">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
	    <strong><%= value %></strong>
	  </div>
	<% end %>
<% end %>